/* CharacterStatCalc */
.character-stattable {
	width: 100%;
	min-width: 575px;
	max-width: 900px;
}	
	
.character-stattable .stattable-controls {
	font-size: 15px;
	line-height: 38px;
}

.character-stattable .stattable-controls td>div {
	float: right;
}
	
.character-stattable .stattable-controls .stattable-level-selector,
.character-stattable .stattable-controls .stattable-equipment-selector {
	margin: 2px 0 1px;
}
	
.character-stattable .stattable-controls .stattable-level,
.character-stattable .stattable-controls .stattable-tier {
	width: 44px;
	font-size: 17px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 3px;
}	

/*
.character-stattable .stattable-controls .active {
	
}
*/

.character-stattable .stattable-controls .inactive {
	filter: grayscale(1);
}

.character-stattable .stattable-equipment-selector .inactive {
	opacity: 0.5;
}

.character-stattable .stattable-controls img {
	padding: 0 1px;
	margin: -3px 0 0 0;
	vertical-align: middle;
}

	
.character-stattable .stattable-controls img:hover {
	filter: drop-shadow(0 2px 2px rgb(0 0 0 / 25%));
	transform: translateY(-1px);
	transition: .15s;
	cursor: pointer;
}


@media (min-width: 1200px) {
	table.character-stattable th {
		width: 16%;
	}
	
	table.character-stattable td[class^="stat-"] {
		width: 9%;
	}
	
}	


.character-stattable .stattable-equipment-selector .equipment-item {
    display: inline-block;
}

.character-stattable .stattable-equipment-selector .equipment-item > img {
    width: 44px;
    height: auto;
}


.character-stattable td[class^="stat-"] {
	cursor: help;
}
